{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

{% if session.config.images %} <!-- Show image only if image is active in session config -->
    <center>
        <img src = "{% static image_name %}" 
             height="400"/>
    </center>
{% endif %}

<strong>
    {{ news_title }}
</strong>

<p>
    {{ news_text }}
</p>


{% if session.config.source %} <!-- Show source only if source is active in session config -->
    <strong>
        - {{ source }}
    </strong>
{% endif %}


<p>
    {% formfield player.choices %}

</p>
    {% next_button %}

{% endblock %}